<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <a href="http://www.uchicago.edu/">
                        <img src="img/logos/uchicago.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="http://www.muners.com/">
                        <img src="img/logos/muners.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>